.blog__body {
  margin: 40px 0 0 0;

  @media screen and (max-width: $wwa3 + px) {
    margin: 32px 0 0 0;
  }
}

.blog__list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 24px;
  row-gap: 32px;

  @media screen and (max-width: $wwa + px) {
    grid-template-columns: repeat(2,1fr);
  }

  @media screen and (max-width: 420px) {
    grid-template-columns: repeat(1,1fr);
  }
}

.blog__card__link {
  display: block;
  background: #fff;

  &:hover {
    & .blog__card-descr {
      color: $accent;
    }
  }
}

.blog__card-img {
  width: 100%;
  height: 224px;
  border-radius: 10px;
  overflow: hidden;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: $wwa + px) {
    height: 160px;
  }
}

.blog__card-date {
  display: inline-block;
  font-size: 14px;
  color: #666;
  margin: 8px 0 0 0;
}

.blog__card-descr {
  font-weight: 500;
  color: $main;
  margin: 8px 0 0 0;
  transition: $tr;
}

// Пагинация
.blog__pagin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 76px 0 0 0;
}

.blog__pagin__arrows {
  display: flex;
  align-items: center;
  padding: 0 0 0 24px;

  @media screen and (max-width: $wwa3 + px) {
    padding: 0 0 0 18px;
  }
}

.blog__pagin-arrow {
  width: 20px;
  height: 20px;

  &._disabled {
    opacity: .2;
    pointer-events: none;
  }

  & svg {
    width: 100%;
    height: 100%;
  }
}

.blog__pagin-arrow-more-step {
  margin: 0 0 0 8px;
}
._disabled {
}
.blog__pagin-arrow-step {
}
.blog__pagin__list {
  display: flex;
  align-items: center;
}
.blog__pagin-item {
  width: 40px;
  height: 40px;
  background: $bg;
  border: 1px solid $outline;
  border-radius: 20px;
  overflow: hidden;

  &:not(:last-child) {
    margin: 0 8px 0 0;
  }

  &._active {
    background: $accent;
    border: 1px solid $accent;

    & a {
      color: #fff;
    }
  }

  & a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $main;
  }

  @media screen and (max-width: $wwa3 + px) {
    &:nth-child(4),
    &:nth-child(5) {
      display: none;
    }
  }
}
._active {
}