.footer {
  background: $bg;
}

.footer__body {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;

  @media screen and (max-width: $wwa3 + px) {
    flex-direction: column;
  }
}

.footer__menu {
  display: flex;
}

.footer__menu__column {
  // padding: 0 50px;
}

.footer__menu__column-category {
  padding: 0 40px 0 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
    width: 1px;
    height: 100%;
    background: $outline;
  }

  @media screen and (max-width: $wwa2 + px) {
    padding: 0 30px 0 0;
  }

  @media screen and (max-width: 460px) {
    padding: 0 20px 0 0;
  }
}

.footer__menu__column-about {
  margin: 0 0 0 40px;

  @media screen and (max-width: $wwa2 + px) {
    margin: 0 0 0 30px;
  }
}

.footer__menu__list {
  margin: 28px 0 0 0;

  @media screen and (max-width: 460px) {
    margin: 16px 0 0 0;
  }
}

.footer__logo {
  display: flex;
  align-items: center;

  &-title {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
  }

  &-text {
    display: inline-block;
    font-size: 12px;
    font-weight: 300;
    margin: 0 0 0 12px;

    @media screen and (max-width: $wwa + px) {
      margin: 4px 0 0 0;
    }
  }

  @media screen and (max-width: $wwa + px) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.footer__contacts {

  @media screen and (max-width: $wwa2 + px) {
    max-width: 160px;
  }

  @media screen and (max-width: $wwa3 + px) {
    max-width: none;
    margin: 20px 0 0 0;
  }
}

.footer__contacts__list {
  margin: 20px 0 0 0;
}

.footer__contacts__item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin: 0 0 14px 0;
  }
}

.footer__contacts-icon {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;

  & img {
    width: 100%;
    height: 100%;
  }
}

.footer__contacts-text {
  font-size: 14px;
}

.footer__contacts-text-link {
  font-weight: 500;
  color: $main;
}

.footer__menu__list-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (max-width: $wwa2 + px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.footer__menu-item {
  margin: 0 32px 0 0;

  &:not(:last-child) {
    margin: 0 16px 12px 0;
  }

  & a {
    color: $main;

    &:hover {
      color: $accent;
    }
  }

  @media screen and (max-width: 460px) {
    font-size: 14px;
    margin: 0;
  }
}

.footer__down {
  background: #F5EEE5;
  padding: 8px 0;

  @media screen and (max-width: $wwa3 + px) {
    padding: 20px 0;
  }
}

.footer__down__body {
  display: flex;
  align-items: center;

  @media screen and (max-width: $wwa3 + px) {
    flex-direction: column;
    align-items: center;
  }
}

.footer-copyright {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  margin: 0 40px 0 0;

  @media screen and (max-width: $wwa3 + px) {
    margin: 0;
  }
}

.footer-policy {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  color: $main;
  margin: 0 auto 0 0;
  text-align: center;

  @media screen and (max-width: $wwa3 + px) {
    margin: 12px 0 0 0;
  }
}

.footer-dev {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  color: $main;
  margin: 0 0 0 auto;
  text-align: right;

  @media screen and (max-width: $wwa3 + px) {
    margin: 12px 0 0 0;
  }
}