.header {
  
  &._shadow {
    box-shadow: 0px 10px 40px rgba(112, 73, 27, 0.05);
  }
}

// Вверхняя часть меню
.header__up {
  width: 100%;
  background: #fafafa;
}

.header__up__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.header__menu__list {
  display: flex;
  align-items: center;
}

.header__menu-item {

  &:not(:last-child) {
    margin: 0 20px 0 0;
  }

  & a {
    font-size: 14px;
    color: $second;

    &:hover {
      color: $accent;
    }
  }
}

.header__call {
  display: flex;
  align-items: center;
}

.header__call-phone {
  margin: 0 20px 0 0;
}

.header__call-phone-label {
  display: inline-block;
  font-size: 14px;
  margin: 0 8px 0 0;
}

.header__call-phone-link {
  font-size: 14px;
  font-weight: 500;
  color: $main;
}

.header__call-callback {
  font-size: 14px;
  font-weight: 500;
  color: $accent;
}

// Нижняя часть меню

.header__down__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}

.header__logo {
  min-width: 264px;
  width: 40%;
  display: flex;
  align-items: center;

  &-text {
    display: inline-block;
    max-width: 130px;
    font-size: 12px;
    margin: 0 0 0 10px;
  }
}

.header__products {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-catalog-btn {
  height: 46px;
  display: flex;
  align-items: center;
  margin: 0 17px 0 0;
}

.header-catalog-btn-icon {
  width: 16px;
  height: 16px;
  margin: 0 12px 0 0;
}

.header__search {
  max-width: 496px;
  width: 100%;
  height: 44px;
  // max-width: 496px;
  // width: 100%;
  border: 1px solid $outline;
  border-radius: 5px;
  position: relative;

  & input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 12px 20px 12px 56px;

    &:focus ~ label {
      display: none;
    }

    &:valid ~ label {
      display: none;
    }
  }

  & label {
    position: absolute;
    top: 50%;
    left: 56px;
    transform: translate(0,-50%);
    z-index: 1;
    pointer-events: none;
  }

  @media screen and (max-width: $wwa2) {
    display: none;
  }
}

.header__search-icon {
  width: 16px;
  height: 16px; 
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translate(0,-50%);
  z-index: 1;
}

.header__user {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__account {
  width: 32px;
  height: 32px;
  margin: 0 20px 0 0;
}

.header__cart-icon {
  width: 100%;
  height: 100%;
}

.header__cart {
  width: 32px;
  height: 32px;
  position: relative;
}

.header__cart-icon {
  width: 100%;
  height: 100%;
}

.header__cart-quantity {
  position: absolute;
  top: -6px;
  right: -6px;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $accent;
  border-radius: 20px;
}